/* Estilização do corpo */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: linear-gradient(100deg, rgb(3, 3, 3), rgba(68, 9, 116, 0.783));
}

/* Container do formulário */
.create-account-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Título */
.create-account-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: rgb(3, 3, 3);
}

/* Texto explicativo */
.create-account-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color:  rgb(3, 3, 3);
}

/* Estilo dos inputs */
.create-account-container input[type="text"],
.create-account-container input[type="email"],
.create-account-container input[type="password"],
.create-account-container input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;

}

/* Estilo do botão */
.create-account-container button {
    width: 100%;
    padding: 10px;
    background-color: #440974;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Hover no botão */
.create-account-container button:hover {
    background-color: #5a0b99;
}

/* Link para voltar ao login */
.back-to-login {
    margin-top: 10px;
    font-size: 14px;
}

.back-to-login a {
    color: #440974;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}
